 <section class="cards">
            <article class="card">
                <div class="card-content">
                    <h2>Activities to do</h2>
                    <p>Regular activities to do at the beach include:</p>
                    <ul>
                        <li>Beach volleyball on the sand</li>
                        <li>swimming on the beach</li>
                        <li>Frisbee with friends</li>
                        <li> Picnicking on the beach</li>
                        <li>Building sandcastles</li>
                        <li>Surfing the waves</li>
                    </ul>
                </div>
            </article>
        </section>


<!--
    - Sights to see
    - Food to eat
    - Activities to do
-->