<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Northen Beaches NSW Sydney </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="/static/images/191015.png"> 
</head>

<body>
    {% include 'nav.html' %}
    <header>
        <h1> Northen Beaches NSW Sydney </h1>
        <p> <strong style="color: #08488b;">Within this page, you can find all the popular beaches in the Northern Beaches area.
        <br /> Including what you can do at each beach, what food you can eat, <br/>sights to explore, and more! </strong></p>
    </header>
    
    <main>
     <section class="intro"> 
            <p>Sydney's Northern Beaches is a stunning, 30-kilometer coastal district in New South Wales.
            <br /> Stretching from Manly in the south to Palm Beach in the north,
             it offers a laid-back, outdoor lifestyle, iconic surf spots, tranquil estuaries, and vibrant seaside village.</p>
    </section>

    <a href="/"> <button> Back to homepage </button></a>
    <br/>
    <br/>

        <section class="cards">
            <article class="card">
                <!-- Collaroy Beach -->
                <img src="static/images/collaroy-thumbnail.jpg" alt="Collaroy Beach">
                <div class="card-content">
                    <h2>Collaroy Beach</h2>
                    <p>Enjoy the beautiful sands and clear waters of Collaroy Beach.</p>
                    <br />
                    <a href="/northenbeaches/collaroy"> <button> Collaroy Beach </button></a>
                </div>
            </article>

            <article class="card">
                <!-- North Curl Curl Beach -->
                <img src="static/images/North-curlcurl-thumbnail.jpg" alt="North Curl Curl Beach">
                <div class="card-content">
                    <h2>North Curl Curl Beach</h2>
                    <p>Experience the best surfing conditions and scenic views at North Curl Curl Beach.</p>
                    <a href="/northenbeaches/North-curl-curl"> <button> Curl Curl Beach </button></a>
                </div>
            </article>
        </section>   
    
    <br />
    <br />
    <br />

    <section class="cards">
            <article class="card">
                <!-- Deewhy Beach -->
                <img src="static/images/deewhy-thumbnail.jpg" alt="deewhy Image">
                <div class="card-content">
                    <h2>Deewhy Beach</h2>
                    <p>Enjoy the beautiful sands and clear waters of Deewhy Beach.</p>
                    <a href="/northenbeaches/dee-why"> <button> Dee Why Beach </button></a>
                </div>
            </article>

            <article class="card">
                <!-- freshwater Beach -->
                <img src="static/images/freshwater-thumbnail.jpg" alt="Freshwater Image">
                <div class="card-content">
                    <h2>Freshwater Beach</h2>
                    <p>Enjoy the beautiful sands and clear waters of Freshwater Beach.</p>
                     <a href="/northenbeaches/freshwater"> <button> Freshwater Beach </button></a>
                </div>
            </article>
                </div>
            </article>
    </section>

    <br />
    <br />
    <br />
    
        <section class="cards">
            <article class="card">
                <!-- Manly Beach -->
                <img src="static/images/manly_beach_thumbnail.jpg" alt="manly Image">
                <div class="card-content">
                    <h2>Manly Beach</h2>
                    <p>Enjoy the beautiful sands and clear waters of Manly Beach.</p>
                    <br />
                    <a href="/northenbeaches/manly"> <button> Manly Beach </button></a>
                </div>
            </article>

            <article class="card">
                <!-- Palm Beach -->
                <img src="static/images/Palm_Beach_thumbnail.jpg" alt="Palm Image">
                <div class="card-content">
                    <h2>Palm Beach</h2>
                    <p>Enjoy the beautiful sands and clear waters of Palm Beach.</p>
                    <br />
                    <a href="/northenbeaches/palm"> <button> Palm Beach </button></a>
                </div>
            </article>
                </div>
            </article>
    </section>

    </main>


    <footer>
        <p>&copy; 2026 kcc Beach-day-planner</p>
    </footer>
    

</body>

</html>

<!--hi!! This is how u write a comment-->