<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collaroy Beach</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="static/images/191015.png"> <!-- Possible change this image for something else? -->
</head>
<body>
    <header>
        <h1>Collaroy Beach</h1>
        <p> <strong style="color: #08488b;">Discover the best activities, local food, and scenic sights at Collaroy on Sydney's Northern Beaches.</strong></p>
    </header>
    <main>
        <section class="intro">
            <p>Collaroy Beach is a great place for families, surfers, and beach walkers. Use this guide to explore the top things to do, the best eats nearby, and the sights you won't want to miss.</p>
        </section>
        <a href="/northenbeaches"><button class="button">Back to Northern Beaches</button></a>


        <!-- 

        - Weather forcast(7 days)
        - paramater?
        - Sights: resturants/food areas, rock ppol, walking?
        
        -->
        <section class="cards">
            <article class="card">
                <div class="card-content">
                    <h2>Weather Forecast</h2>
                    <p>Check the weather forecast for the next 7 days at Collaroy Beach.</p>
                    <ul>
                        <li> Have a program to figure this out</li>
                    </ul>
                </div>
            </article>
        </section>

<!-- iNTRO For Collaroy beach activities  and attractions-->
        <section class="cards">
            <article class="card">
                <div class="card-content">
                    <h2> Collaroy Beach activities and attraction </h2>
                    <p> Collaroy Beach offers a variety of activities and attractions for visitors to enjoy. Here, you can find information about the top things to do and see.</p>   
                </div>
            </article>
        </section>
        
<!-- Nature and leisure -->
        <section class="cards">
            <article class="card">
                <div class="card-content">
                    <h2> Nature and leisure </h2>
                    <p>See the scenic coastal highlights and nearby attractions around Collaroy.</p>   
                </div>
            </article>
        </section>
<!-- Food places -->
        <section class="cards">
            <article class="card">
                <div class="card-content">
                    <h2> Food places </h2>
                    <p>Discover the best restaurants and food spots near Collaroy Beach.</p>   
                </div>
            </article>
        </section>
        
        
        {% include 'activities.html' %}
    
        

    </main>
     <footer>
        <p>&copy; 2026 kcc Beach-day-planner</p>
    </footer>
</body>
</html>